body {
    font-family: 'Montserrat', sans-serif; /* Fonte importada do Google Fonts */
    margin: 0;
    background-color: #f0f0f5; /* Um tom de cinza mais claro */
    color: #4a4a4a; /* Cinza mais escuro para o texto */
    line-height: 1.6;
}

header {
    background: linear-gradient(135deg, #434343 0%, #000000 100%); /* Gradiente escuro */
    color: #fff;
    padding: 2em 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 1em 0 0;
}

nav ul li {
    display: inline;
    margin: 0 1.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ddd;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.secao {
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 2px solid #e0e0e0; /* Separador mais visível */
}

.secao:last-child {
    border-bottom: none;
}

h2 {
    color: #333;
    font-size: 2.2em;
    margin-bottom: 0.5em;
    border-bottom: 3px solid #5c6bc0; /* Destaque na seção */
    padding-bottom: 0.3em;
    display: inline-block;
}

.projeto {
    background-color: #f9f9f9;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease-in-out;
}

.projeto:hover {
    transform: translateY(-5px);
}

.projeto h3 {
    color: #5c6bc0; /* Cor de destaque */
    margin-top: 0;
}

.projeto p:last-child {
    margin-bottom: 0;
}

footer {
    text-align: center;
    padding: 1.5em 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
